<section class="spotify-player">
	<div class="search">
		<form ng-submit="$ctrl.search()">
			<input type="text" ng-model="$ctrl.song_name">
			<button>Search</button>
		</form>
		<div class="player" ng-if="$ctrl.playlist">
			<div class="results">
				<a class="song" ng-repeat="song in $ctrl.playlist">
					<span class="title">{{song.name}}</span>
					<span></span>
					<span></span>
				</a>
			</div>
			<div class="song-details" ng-if="$ctrl.playlist">
				<div class="header">
					<img src="" alt="">
					<span class="title">Title</span>
					<span>Duration</span>
					<span>Popularity</span>
					<span>Album</span>
					<span>Name</span>
				</div>
			</div>
		</div>
	</div>
</section>